/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@mixin for-phone-only {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 500px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

$colors: (
  primary: #fffafb,
  accent: #016392,
  navbar-font: #b69f88,
  leads: #e88224,
);

$skills: (
  rowheight: 100px,
  rowheightdesktop: 100px,
  imgheight: 60%,
);

.skill-section {
  width: 100%;
  background-color: white;
  font-family: 'Arvo', serif;
  padding-top: 10px;
  text-align: center;
}

/* NAVBAR */
#app,
html,
body,
.main-wrapper {
  height: 100%;
  width: 100%;
  background-color: map-get($colors, primary);
}

/* to remove white space between navbar and landing divs */
.main-wrapper {
  display: flex;
  flex-direction: column;
}

/* navbar ============================================================================*/
.navbar-container {
  background: #024666;
  width: 100%;
  min-height: 50px;
  color: map-get($colors, navbar-font);
  // border-bottom: 1px solid #000000;
  overflow: visible;
  box-shadow: 0 1px 2px 0px rgb(19, 19, 19);
  z-index: 1;
  text-align: center;

  @include for-tablet-portrait-up {
    nav {
      content: normal;
      margin-top: 25px;
    }

    ul.menu {
      content: normal;
    }

    li {
      display: inline;
      padding: 0 5px 0 5px;
      margin: 0 1rem 0 1rem;
    }

    .button {
      visibility: hidden;
    }
  }

  h1 {
    font-size: 12px;
    width: 50%;
    margin: 9px 0 0 5px;
    text-align: left;
    position: absolute;
  }
}

a {
  color: map-get($colors, navbar-font);
  text-decoration: none;

  @include for-phone-only {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
  }
}

a:hover {
  color: map-get($colors, leads);
  text-decoration: none;
}

// a:hover#menu-icon {
// 	background-color: #444;
// 	border-radius: 4px 4px 0 0;
// }

ul {
  list-style: none;
}

/* MENU ANIMATION ----------- */

@mixin position-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@include for-phone-only {
  $bp-small: 500px;
  $bp-arrow: 700px;
  $color: #d6b282;
  $color-bg: #fcfcf4;
  $color-dark: darken($color, 10%);
  $color-lite: lighten($color, 10%);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      cursor: pointer;
      padding: 6px 20px;
      font-size: 48px;
    }
  }

  .button {
    opacity: 0.6;
    background-color: transparent;
    position: relative;
    z-index: 2;
    border: none;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    outline: none;
    transition: opacity 0.1s ease-out;
    &:before {
      content: '';
      @include position-center;
      width: 100%;
      background: linear-gradient(
        to bottom,
        transparent,
        transparent 7.5%,
        $color 7.5%,
        $color 22.5%,
        transparent 22.5%,
        transparent 37.5%,
        $color 37.5%,
        $color 52.5%,
        transparent 52.5%,
        transparent 67.5%,
        $color 67.5%,
        $color 82.5%,
        transparent 82.5%,
        transparent 100%
      );
      clip-path: circle(50% at 50% 50%);
      transition: opacity 0.1s ease-out, width 0.1s 0.1s ease-out;
    }
    &:after {
      opacity: 0;
      content: '×';
      color: white;
      position: absolute;
      top: 27px;
      left: 8px;
      font-family: Arial, sans-serif;
      font-size: 76px;
      line-height: 0;
      transition: opacity 0.4s ease-out;
    }
    &:active {
      transform: translateY(2px);
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    .open & {
      opacity: 1;
      &:before {
        opacity: 0;
        width: 0;
      }
      &:after {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate(360deg);
        transition: transform 0.2s 0.2s ease-out, opacity 0.2s 0.2s ease-out;
      }
    }
  }

  nav {
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    overflow: hidden;
    &:before {
      content: '';
      @include position-center;
      background: rgba($color-dark, 0.98);
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
      transform: scale(0.04), translateY(9999px);
      overflow: hidden;
    }
    .open & {
      top: 0;
      &:before {
        animation: menu-animation 0.5s ease-out forwards;
      }
    }
  }

  ul.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
    perspective: 1000;
    color: white;
    li {
      opacity: 0;
      text-align: center;
      transform: translate3d(0, 36px, 0);
      &:before {
        content: '';
        @include position-center;
        left: auto;
        background-color: white;
        height: 100%;
        width: 0;
        overflow: hidden;
        transition: width 0.8s ease-out;
      }
      &:after {
        opacity: 0;
        content: attr(data-text);
        @include position-center;
        color: $color;
        overflow: hidden;
        transform: translate(-24px, 6px);
        transition: transform 0.1s ease-out, opacity 0.1s ease-out;
      }
      &:hover {
        &:before {
          left: 0;
          right: auto;
          width: 100%;
        }
        &:after {
          opacity: 1;
          padding: 0 20px;
          transform: translate(0px, 6px);
          transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
        }
      }
      .open & {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        @for $i from 1 to 5 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.1s + 0.05s;
          }
        }
      }
    }
  }

  .landing {
    transition: 0.2s ease-out;
    .open & {
      transform: scale(0.92);
      transition: transform 0.2s 0.21s ease-out;
    }
  }

  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
}
/* ---- */

#banner1-bg {
  height: 20rem;
  position: relative;
  background-color: map-get($colors, accent);

  .leads {
    color: map-get($colors, leads);
    display: inline-block;
    text-align: center;
    width: 100%;
    @include for-tablet-portrait-up {
      padding-right: 10rem;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 26px;

      @include for-phone-only {
        margin-right: 5rem;
        margin-top: 2rem;
      }

      @include for-tablet-portrait-up {
        margin-top: 4rem;
      }

      &:after {
        content: '';
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        border-bottom: 1px solid map-get($colors, leads);

        @include for-phone-only {
          width: 50%;
        }

        @include for-tablet-portrait-up {
          width: 20%;
        }
      }
    }

    // .line-break {
    //   margin: auto;
    //   margin-right: 15rem;
    //   width: 10rem;
    //   border-bottom: 1px solid map-get($colors, leads);
    // }

    h2 {
      font-family: 'Arvo', serif;
      font-size: 18px;
      text-decoration: none;
      margin-top: 3rem;
      margin-right: 10rem;

      @include for-tablet-portrait-up {
        margin-right: 0;
      }
    }
  }

  img {
    width: 15rem;
    position: absolute;
    display: inline-block;
    bottom: 0;
    @include for-phone-only {
      right: -1.2rem;
    }
    @include for-tablet-portrait-up {
      right: 2rem;
    }
  }
}

.attributes {
  .frontend {
    // background-color: #ffe7e7;
  }

  .backend {
    // background-color: #c3ecff;
    padding-bottom: 5px;
  }

  .tools {
    // background-color: #f5f6ff;

    h3 {
      font-size: 20px;
    }
  }

  h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.skill-img {
  height: 50px;
  margin: auto;
}

.frontendstuff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: map-get($skills, rowheight);

  .react {
    grid-row: 1;
  }

  .javascript {
    grid-row: 1;
  }

  .redux {
    grid-row: 1;
  }

  .html {
    grid-row: 2;
  }

  .css {
    grid-row: 2;
  }
}

.backendstuff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: map-get($skills, rowheight);

  .node {
    grid-row: 1;
  }

  .mongo {
    grid-row: 1;
  }

  .sql {
    grid-row: 1;
  }
}

.otherstuff {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: map-get($skills, rowheight);

  .git {
    grid-row: 1;
  }

  .github {
    grid-row: 1;
  }

  .docker {
    grid-row: 1;
  }
}

// /* Smartphones (portrait and landscape) ----------- */
// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
//   /* Styles */
// }

// /* Smartphones (landscape) ----------- */
// @media only screen and (min-width: 320px) {
//   /* Styles */
// }

// @media only screen and (min-width: 700px) {
// }

/* Desktops and laptops ----------- */
// @media only screen and (min-width: 1200px) {
//   .skill-section {
//     box-shadow: inset 0 0 5px #000000;
//   }

.navbar-container {
  // background: #024666;
}

//   .landing {
//     width: 100%;

//     #banner1-bg {
//       height: 35rem;
//       position: relative;

//       .leads {
//         width: 60%;
//         color: #e88224;
//         display: inline-block;
//         margin-top: 5rem;
//         margin-left: 5rem;

//         h1 {
//           font-size: 72px;
//         }

//         h2 {
//           margin-top: 25px;
//           margin-right: 0;
//           font-size: 40px;
//           text-align: center;
//         }
//       }

//       img {
//         width: 600px;
//         position: absolute;
//         right: -5%;
//         display: inline-block;
//         bottom: 0;
//       }
//     }

//     .attributes {
//       display: grid;
//       min-height: 100%;
//       grid-template-columns: 1fr 1fr 1fr;
//       column-gap: 10px;
//       padding: 10px 10px 10px 10px;
//       text-align: center;
//       width: 100%;

//       .frontend {
//         grid-row: 1;
//         padding-top: 10px;
//       }

//       .backend {
//         grid-row: 1;
//         padding-top: 10px;
//       }

//       .tools {
//         grid-row: 1;
//         padding-top: 10px;

//         h3 {
//           font-size: 22px;
//         }
//       }
//     }
//   }

//   .frontendstuff {
//     display: grid;
//     min-height: 100%;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: map-get($skills, rowheightdesktop) map-get($skills, rowheightdesktop) map-get(
//         $skills,
//         rowheightdesktop
//       );

//     .javascript {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .react {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .redux {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .html {
//       grid-row: 2;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .css {
//       grid-row: 2;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }
//   }

//   .backendstuff {
//     display: grid;
//     // min-height: 100%;
//     grid-template-columns: 100px 1fr;
//     grid-template-rows: map-get($skills, rowheight);

//     .node {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .mongo {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .sql {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }
//   }

//   .otherstuff {
//     display: grid;
//     // min-height: 100%;
//     grid-template-columns: 100px 1fr;
//     grid-template-rows: map-get($skills, rowheight);

//     .git {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .github {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }

//     .docker {
//       grid-row: 1;

//       img {
//         height: map-get($skills, imgheight);
//       }
//     }
//   }

//   // .skill-info {
//   //   text-align: left;
//   //     line-height: map-get($skills, rowheight);
//   // }
// }
